<div class="apartaments">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="page-header center-block">
						<h2>
						<t ng-show='lang.spa'>APARTAMENTOS</t>
						<t ng-show='lang.eng'>APARTMENTS</t>
						</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="col-sm-6 col-md-12">
				<div class="thumbnail">
					<div class="page-header center-block">
						<h1>
						<t ng-show='lang.spa'>Apartamentos que se ajustan a tu estilo de vida.</t>
						<t ng-show='lang.eng'>Apartments adapted to your lifestyle</t>
						</h1>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="separation-departaments-1"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="center-block apartament-thumb-container">
						<h4>
						<t ng-show='lang.spa'>APARTAMENTOS</t>
						<t ng-show='lang.eng'>APARTMENTS</t>
						&nbsp;A</h4>
						<a ui-sref="/apartamentsA"><img src="img/apartamentosA_icono.jpg" /></a>
						<p>
						
						<t ng-show='lang.spa'>Apartamentos de 50 m2 equipados comodamente para hasta 4 personas.</t>
						<t ng-show='lang.eng'>50 m2 Apartments equipped for up to four.</t>
						<br>
						<a ui-sref="/apartamentsA">
							<t ng-show='lang.spa'>Conoce mas.</t>
							<t ng-show='lang.eng'>More.</t>
						</a>
						</p>
						
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="center-block apartament-thumb-container">
						<h4>
						<t ng-show='lang.spa'>APARTAMENTOS</t>
						<t ng-show='lang.eng'>APARTMENTS</t>
						&nbsp;B</h4>
						<a ui-sref="/apartamentsB"><img src="img/apartamentosB_icono.jpg" /></a>
						<p>
						<t ng-show='lang.spa'>Apartamentos de 45 m2 equipados comodamente para hasta 3 personas.</t>
						<t ng-show='lang.eng'>45 m2 Apartments equipped for up to three.</t>
						<br>
						<a ui-sref="/apartamentsB">
							<t ng-show='lang.spa'>Conoce mas.</t>
							<t ng-show='lang.eng'>More.</t>
						</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="center-block apartament-thumb-container">
						<h4>
						<t ng-show='lang.spa'>APARTAMENTOS</t>
						<t ng-show='lang.eng'>APARTMENTS</t>
						&nbsp;C</h4>
						<a ui-sref="/apartamentsC"><img src="img/apartamentosC_icono.jpg" /></a>
						<p>
						<t ng-show='lang.spa'>Apartamentos de 43 m2 equipados comodamente para hasta 3 personas.</t>
						<t ng-show='lang.eng'>43 m2 Apartments equipped for up to three.</t>
						<br>
						<a ui-sref="/apartamentsC">
							<t ng-show='lang.spa'>Conoce mas.</t>
							<t ng-show='lang.eng'>More.</t>
						</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="arrow-down center-block"
					ng-click="nextApartamentSection()">
					<img src="img/arrowDown.png" class="center-block" />
				</div>
			</div>
		</div>
	</div>
</div>