<div class="apartaments apart-detail">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="separator-apartament-detail-top"></div>
				<!-- Carousel
				================================================== -->
				<div id="apartBCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#apartBCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#apartBCarousel" data-slide-to="1"></li>
						<li data-target="#apartBCarousel" data-slide-to="2"></li>
						<li data-target="#apartBCarousel" data-slide-to="3"></li>
						<li data-target="#apartBCarousel" data-slide-to="4"></li>
						<li data-target="#apartBCarousel" data-slide-to="5"></li>
						<li data-target="#apartBCarousel" data-slide-to="6"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img ng-click="openModal('#bbig1')" class="clickable" src="img/b/big1.jpg" alt="First slide">
							<div class="container">
							</div>
						</div>
						<div class="item">
							<img ng-click="openModal('#bbig2')" class="clickable" src="img/b/big2.jpg" alt="Second slide">
							<div class="container">
							</div>
						</div>
						<div class="item">
							<img ng-click="openModal('#bbig3')" class="clickable" src="img/b/big3.jpg" alt="Third slide">
							<div class="container">
							</div>
						</div>
						<div class="item">
							<img ng-click="openModal('#bbig4')" class="clickable" src="img/b/big4.jpg" alt="Third slide">
							<div class="container">
							</div>
						</div>
						<div class="item">
							<img ng-click="openModal('#bbig5')" class="clickable" src="img/b/big5.jpg" alt="Third slide">
							<div class="container">
							</div>
						</div>
						<div class="item">
							<img ng-click="openModal('#bbig6')" class="clickable" src="img/b/big6.jpg" alt="Third slide">
							<div class="container">
							</div>
						</div>
						<div class="item">
							<img ng-click="openModal('#bbig7')" class="clickable" src="img/b/big7.jpg" alt="Third slide">
							<div class="container">
							</div>
						</div>
					</div>
					
					<a class="carousel-control left clickable" ng-click="carousel('#apartBCarousel','prev')" data-slide="prev"><i class="fa fa-angle-left fa-4 arrowSize"></i></a>
					<a class="carousel-control right clickable" ng-click="carousel('#apartBCarousel','next')"><i class="fa fa-angle-right fa-4 arrowSize"></i></a>
					
				</div>
				<div class="container">
					
					<div class="row">
						<div class="col-md-2 col-xs-6 ">
							<a class="thumbnail">
								<img class="clickable thumb img-responsive" src="img/b/thumb1.jpg" data-target="#apartBCarousel" data-slide-to="0" alt="">
							</a>
						</div>
						<div class="col-md-2 col-xs-6 ">
							<a class="thumbnail">
								<img class="clickable thumb img-responsive" src="img/b/thumb2.jpg" data-target="#apartBCarousel" data-slide-to="1" alt="">
							</a>
						</div>
						<div class="col-md-2 col-xs-6 ">
							<a class="thumbnail">
								<img class="clickable thumb firstrow lastitem img-responsive" src="img/b/thumb3.jpg" data-target="#apartBCarousel" data-slide-to="2" alt="">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-xs-6 ">
							<a class="thumbnail">
								<img class="clickable thumb last img-responsive" src="img/b/thumb4.jpg" data-target="#apartBCarousel" data-slide-to="3" alt="">
							</a>
						</div>
						<div class="col-md-2 col-xs-6 ">
							<a class="thumbnail">
								<img class="clickable thumb last img-responsive" src="img/b/thumb5.jpg" data-target="#apartBCarousel" data-slide-to="4" alt="">
							</a>
						</div>
						<div class="col-md-2 col-xs-6 ">
							<a class="thumbnail">
								<img class="clickable thumb last lastitem img-responsive" src="img/b/thumb6.jpg" data-target="#apartBCarousel" data-slide-to="5" alt="">
							</a>
						</div>
					</div>
					
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="separator-apartament-detail-top"></div>
				<div class="detail invert center-block">
					<h2>
					<t ng-show='lang.spa'>APARTAMENTOS</t>
					<t ng-show='lang.eng'>APARTMENTS</t>
					<b>B</b></h2>
					<h5>

					<t ng-show='lang.spa'>CARACTERISTICAS</t>
					<t ng-show='lang.eng'>FEATURES</t>
					</h5>
					<p>
					<t ng-show='lang.spa'>Apartamentos de 38 m2 equipados para hasta 2 personas.</t>
					<t ng-show='lang.eng'>38 m2 apartments equipped for up to two.</t>
					<br>
					<br>
					
					
					<t ng-show='lang.spa'>Cama twin de 1,8 x 2, sofá cama con carrito,<br> baño completo
					con hidromasaje.</t>
					<t ng-show='lang.eng'>1,8x 2 twin bed, sofabed with wheels,full <br> bathroom with hydro massage. </t>
					<p>
					<h5>
					<t ng-show='lang.spa'>EQUIPAMIENTO</t>
					<t ng-show='lang.eng'>EQUIPMENT</t>
					</h5>
					<p>
					<t ng-show='lang.spa'>Cocina completamente equipada; vajilla, utensillos de<br> cocina, microondas, anafe eléctrico, heladera.</t>
					<t ng-show='lang.eng'>Fully equipped kitchen; dishwares, microwaves, electric stove and fridge.</t>
					<br>
					<br>
					
					<t ng-show='lang.spa'>Aire acondicionado frío/calor con regulación individual<br> y caja
					de seguridad.</t>
					<t ng-show='lang.eng'>Airconditioning and safety box.</t>
					<p>
					<h5>
					<t ng-show='lang.spa'>DETALLES ADICIONALES</t>
					<t ng-show='lang.eng'>ADITIONAL DETAILS</t>
					</h5>
					<p>
					<t ng-show='lang.spa'>Balcón.</t>
					<t ng-show='lang.eng'>Balcony.</t>
					<p>
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="arrow-down center-block"
					ng-click="nextApartamentSection()">
					<img src="img/arrowDown.png" class="center-block" />
				</div>
			</div>
		</div>
	</div>
	
	<div id="bbig1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big1.jpg" alt="">
			</div>
		</div>
	</div>
	<div id="bbig2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big2.jpg" alt="">
			</div>
		</div>
	</div>
	<div id="bbig3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big3.jpg" alt="">
			</div>
		</div>
	</div>
	<div id="bbig4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big4.jpg" alt="">
			</div>
		</div>
	</div>
	<div id="bbig5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big5.jpg" alt="">
			</div>
		</div>
	</div>
	<div id="bbig6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big6.jpg" alt="">
			</div>
		</div>
	</div>
	<div id="bbig7" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				</div>
				<img class="img-responsive center-block" src="img/b/big7.jpg" alt="">
			</div>
		</div>
	</div>
</div>