<div class="apartaments">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="page-header center-block">
						<h2>APARTAMENTOS</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="col-sm-6 col-md-12">
				<div class="thumbnail">
					<div class="page-header center-block">
						<h1>Apartamentos que se ajustan a tu estilo de vida.</h1>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="separation-departaments-1"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="center-block apartament-thumb-container">
						<h4>APARTAMENTOS <b>A</b></h4>
						<a ui-sref="/apartamentsA"><img src="img/apartamentosA_icono.jpg" /></a>
						<p>
						Apartamentos de 50 m2 equipados comodamente para hasta 4 personas.<br>
						<a ui-sref="/apartamentsA">Conoce mas.</a>
						</p>
						
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="center-block apartament-thumb-container">
						<h4>APARTAMENTOS <b>B</b></h4>
						<a ui-sref="/apartamentsB"><img src="img/apartamentosB_icono.jpg" /></a>
						<p>
						Apartamentos de 45 m2 equipados comodamente para hasta 3 personas.<br>
						<a ui-sref="/apartamentsB">Conoce mas.</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="center-block apartament-thumb-container">
						<h4>APARTAMENTOS <b>C</b></h4>
						<a ui-sref="/apartamentsC"><img src="img/apartamentosC_icono.jpg" /></a>
						<p>
						Apartamentos de 43 m2 equipados comodamente para hasta 3 personas.<br>
						<a ui-sref="/apartamentsC">Conoce mas</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="arrow-down center-block"
					ng-click="nextApartamentSection()">
					<img src="img/arrowDown.png" class="center-block" />
				</div>
			</div>
		</div>
	</div>
</div>