<div class="contact">
	<div class="container-fluid contactBackground">
		<div class="row-fluid">
			<div class="container">
				<div class="row">
					<div class="col-xs-1 col-sm-2 col-md-8">
						<div class="thumbnail">
							
						</div>
					</div>
					<div class="col-xs-10 col-sm-8 col-md-4">
						<div class="thumbnail form-container">
							<div class="page-header center-block">
								<h1>
								<t ng-show='lang.spa'>Buenos Aires<br>te está esperando</t>
								<t ng-show='lang.eng'>Buenos Aires<br>is waiting for you</t>
								</h1>
							</div>
							
							<form>
								
								<div class="form-group required">
									<label for="fullname">
										<t ng-show='lang.spa'>Nombre y Apellido</t>
										<t ng-show='lang.eng'>Name and Last name</t>
									</label>
									<input ng-model="form.nombreyapellido" type="text" class="form-control" id="fullname" placeholder="Nombre y apellido">
								</div>
								<div class="form-group required">
									<label for="email">E-Mail</label>
									<input ng-model="form.email" type="email" class="form-control" id="email" placeholder="E-mail">
								</div>
								<div class="form-group required">
									<label for="phone">
										<t ng-show='lang.spa'>Teléfono</t>
										<t ng-show='lang.eng'>Phone</t>
									</label>
									<input ng-model="form.telefono" type="number" class="form-control" id="phone" placeholder="">
								</div>
								
								<div class="form-group">
									<label for="select-country">
										<t ng-show='lang.spa'>País:</t>
										<t ng-show='lang.eng'>Country:</t>
									</label>
									<div
										ng-include
										src="'views/partial.selectCountry.html'"
										onload="initCountrySelect()"
									></div>
								</div>
								
								<div
									ng-include
									src="'views/partials/form.dtpFrom.html'"
									onload="initDtp('dtpFrom')"
								></div>
								<div
									ng-include
									src="'views/partials/form.dtpTo.html'"
									onload="initDtp('dtpTo')"
								></div>
								
								
								<div class="form-group">
									<label for="apartamentType">
										<t ng-show='lang.spa'>Tipo de apartamento:</t>
										<t ng-show='lang.eng'>Type of apartment:</t>
									</label>
									<select ng-model="form.tipoApartamento" id="apartamentType" class="demo-default" placeholder="">
										<option value="">
											<t ng-show='lang.spa'>Seleccione un tipo...</t>
											<t ng-show='lang.eng'>Select...</t>
										</option>
										<option value="A">A</option>
										<option value="B">B</option>
										<option value="C">C</option>
									</select>
								</div>
								
								<div class="form-group required">
									<label for="comment">
										<t ng-show='lang.spa'>Comentario adicional</t>
										<t ng-show='lang.eng'>Additional comment</t>
										
									</label>
								</div>
								<div class="form-group required">
									
									<textarea id="comment" ng-model="form.comentario">
									
									</textarea>
								</div>
								
								<button ng-click="send()" class="btn btn-primary">
								<t ng-show='lang.spa'>Enviar</t>
								<t ng-show='lang.eng'>Send</t>
								
								</button>
							</form>
							
							<div style="display:none" class="alert-cbotanico-success">
								<p>
								<t ng-show='lang.spa'>Tu mensaje ha sido enviado, en breve te responderemos. ¡Gracias por tu consulta!</t>
								<t ng-show='lang.eng'>Your message has been sent, we will respond shortly.Thank you for your inquiry!</t>
								</p>
							</div>
							<div style="display:none" class="alert-cbotanico-fail">
								<p>
								<t ng-show='lang.spa'>Hubo un problema con el servidor. Intente más tarde.</t>
								<t ng-show='lang.eng'>Server error. Try later.</t>
								</p>
							</div>
							<!--
							<div class="outer">
										<div class="middle">
													<div class="inner">
																<div class="alert-cbotanico-success alert alert-cbotanico alert-info alert-autocloseable-info">
																			<p>
																			<t ng-show='lang.spa'>Tu mensaje ha sido enviado, en breve te responderemos. ¡Gracias por tu consulta!</t>
																			<t ng-show='lang.eng'>Your message has been sent, we will respond shortly.Thank you for your inquiry!</t>
																			</p>
																</div>
																<div class="alert-cbotanico-fail alert alert-cbotanico alert-info alert-autocloseable-info">
																			<p>
																			<t ng-show='lang.spa'>Hubo un problema con el servidor. Intente más tarde.</t>
																			<t ng-show='lang.eng'>Server error. Try later.</t>
																			</p>
																</div>
													</div>
										</div>
							</div>
							-->
							
						</div>
					</div>
					<div class="col-xs-1 col-sm-2 hidden-md hidden-lg">
						<div class="thumbnail">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>