<div class="home" >

<div class="full-width">
			<div class="inner">
				<div class="slide">
					<div>Lorem ipsum dolor sit amet, consectetur. <br>Curabitur molestie elit et ultricies vehicula.</div>
					<img src="img/home_slide_1.jpg" width="1020" height="400">
				</div>
				<div class="slide">
					<div>Nullam dictum magna sapien, sed adipiscing nibh. <br>Curabitur molestie elit et ultricies vehicula.</div>
					<img src="img/home_slide_2.jpg" width="1020" height="400">
				</div>
				<div class="slide">
					<div>Donec malesuada hendrerit velit, sed consequat. <br>Curabitur molestie elit et ultricies vehicula.</div>
					<img src="img/home_slide_3.jpg" width="1020" height="400">
				</div>
				<!--
				<div class="slide">
					<div>Maecenas augue dui, rhoncus a blandit non. <br>Curabitur molestie elit et ultricies vehicula.</div>
					<img src="http://lorempixel.com/1020/400/business" width="1020" height="400">
				</div>
				-->
			</div>
			<!--
			<div class="controls">
				<a href="#" class="left">&lt;</a>
				<a href="#" class="right">&gt;</a>
			</div>
			-->
			<!--
			<div class="slide-nav"></div>
			-->
		</div>
	
</div>