<div class="home" >
	
	<section class="block" >
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner" >
				<div class="active item">
					<div></div>
					<t ng-show='lang.spa' ng-click="go('apartaments')"><img src="img/home_slide_1.jpg" /></t>
					<t ng-show='lang.eng' ng-click="go('apartaments')"><img src="img/home_slide_1_eng.jpg"/></t>
				</div>
				<div class="item">
					<div></div>
					<t ng-show='lang.spa' ng-click="go('apartaments')"><img src="img/home_slide_2.jpg" /></t>
					<t ng-show='lang.eng' ng-click="go('apartaments')"><img src="img/home_slide_2.jpg" /></t>
				</div>
				<div class="item">
					<div></div>
					<t ng-show='lang.spa' ng-click="go('apartaments')"><img src="img/home_slide_student.jpg" /></t>
					<t ng-show='lang.eng' ng-click="go('apartaments')"><img src="img/home_slide_student.jpg" /></t>
				</div>
				<div class="item">
					<div></div>
					<t ng-show='lang.spa' ng-click="go('apartaments')"><img src="img/home_slide_corporate.jpg" /></t>
					<t ng-show='lang.eng' ng-click="go('apartaments')"><img src="img/home_slide_corporate.jpg" /></t>
				</div>
				<!--
				<div class="active item">
						<div>
								
								<div class="slide-text-container hidden-xs" >
										<h5>COLOR BOTANICO APARTAMENTOS</h5>
										<h2>Disfruta de vivir<br>
										en Buenos Aires como<br>
										en tu casa.</h2>
										<button ng-click="go('apartaments')" class="start-btn ">COMIENZA AQUI</button>
								</div>
						</div>
						<img src="img/home_slide_1.jpg" alt="Slide1" />
				</div>
				
				<div class=" item">
						<div>
								
								<div class="slide-text-container hidden-xs">
										<h5>COLOR BOTANICO APARTAMENTOS</h5>
										<h2>Vivi Buenos Aires<br>justo donde esta sucediendo.</h2>
										<button ng-click="go('apartaments')" class="start-btn trans">COMIENZA AQUI</button>
								</div>
						</div>
						<img src="img/home_slide_2.jpg" alt="Slide1" />
				</div>
				<div class=" item">
						<div>
								
								<div class="slide-text-container white hidden-xs">
										<h5>APARTAMENTOS PARA ESTUDIANTES</h5>
										<h2>La vida de Buenos Aires<br> al alcance de tu mano.</h2>
										<h4>Una estadia confortable, segura y a tu medida<br>
										con las opciones culturales, sociales, y turisticas<br>
										a pasos de tu casa.</h4>
										<button ng-click="go('apartaments')" class="start-btn">COMIENZA AQUI</button>
								</div>
						</div>
						<img src="img/home_slide_student.jpg" alt="Slide1" />
				</div>
				<div class=" item">
						<div>
								
								<div class="slide-text-container hidden-xs">
										<h5>APARTAMENTOS CORPORATIVOS</h5>
										<h2>Alojamientos ejecutivos<br>en el corazon de Buenos Aires</h2>
										<h4>Con toda la privacidad, calides y servicio
										<br>que dia a dia brindamos a nuestros huespedes</h4>
										<button ng-click="go('apartaments')" class="start-btn">COMIENZA AQUI</button>
								</div>
						</div>
						<img src="img/home_slide_corporate.jpg" alt="Slide1" />
				</div>
				-->
				
			</div>
			
			<a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left fa-4 arrowSize"></i></a>
			<a class="carousel-control right " href="#myCarousel" data-slide="next"><i class="fa fa-angle-right fa-4 arrowSize"></i></a>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" ng-click="go('apartaments')">
					<img src="img/icon_apartamentos.png" alt="...">
					<div class="caption">
						<h3>Apartamentos</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" ng-click="go('services')">
					<img src="img/icon_servicios.png" alt="...">
					<div class="caption">
						<h3>Servicios</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" ng-click="go('location')">
					<img src="img/icon_ubicacion.png" alt="...">
					<div class="caption">
						<h3>Ubicación</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>