<div class="location">
	<div class="container-fluid">
		
		<div class="row-fluid">
			<div class="visible-lg">
				<img src="img/map.jpg" class="center-block" />
				<a class="link-colorbotanico" href="https://www.google.com.ar/maps/place/Color+Bot%C3%A1nico/@-34.5878003,-58.4227878,16z/data=!4m6!1m3!3m2!1s0x95bcb586c74dc62d:0x12658f8433b331d9!2sColor+Bot%C3%A1nico!3m1!1s0x95bcb586c74dc62d:0x12658f8433b331d9" target="_blank">
					<img src="img/icon_color-botanico.png"/>
				</a>

				<a class="link-subtescalabrini" href="https://www.google.com.ar/maps/@-34.5818539,-58.4207511,18z" target="_blank">
					<img src="img/icon_subte-scalabrini.png"/>
				</a>

				<a class="link-subteplazaitalia" href="https://www.google.com.ar/maps/@-34.5818539,-58.4207511,18z" target="_blank">
					<img src="img/icon_subte-plazaitalia.png"/>
				</a>

				<a class="link-donjulio" href="https://www.google.com.ar/maps/place/Don+Julio+Parrilla+-+Restaurant/@-34.5875868,-58.4235414,16z/data=!4m2!3m1!1s0x95bcb586ea7789a1:0x5f51f7dc0f6a6859" target="_blank">
					<img src="img/icon_donjulio.png"/>
				</a>





				
			</div>
			<div class="hidden-lg">
				<img src="img/map.jpg" class="img-responsive center-block" />
			</div>
			
			<div class="container">
				
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<div class="page-header center-block">
								<h3><a class="link-map-colorbotanico" href="https://www.google.com.ar/maps/place/Color+Bot%C3%A1nico/@-34.5878003,-58.4227878,16z/data=!4m6!1m3!3m2!1s0x95bcb586c74dc62d:0x12658f8433b331d9!2sColor+Bot%C3%A1nico!3m1!1s0x95bcb586c74dc62d:0x12658f8433b331d9" target="_blank">
									COLOR BOTANICO
								</a></h3>
								<h3><a class="link-map-colorbotanico" href="https://www.google.com.ar/maps/place/Don+Julio+Parrilla+-+Restaurant/@-34.5875868,-58.4235414,16z/data=!4m2!3m1!1s0x95bcb586ea7789a1:0x5f51f7dc0f6a6859" target="_blank">
									DON JULIO
								</a></h3>
								<h3><a class="link-map-colorbotanico" href="https://www.google.com.ar/maps/place/Plaza+Armenia/@-34.588554,-58.426279,17z/data=!3m1!4b1!4m2!3m1!1s0x95bcb587a5e98a39:0x3bd37412823b64fb" target="_blank">
									PLAZA ARMENIA
								</a></h3>
								<h3><a class="link-map-colorbotanico" href="https://www.google.com.ar/maps/@-34.5818539,-58.4207511,18z" target="_blank">
									ESTACION SCALABRINI ORTIZ
								</a></h3>
								<h3><a class="link-map-colorbotanico" href="https://www.google.com.ar/maps/place/Alto+Palermo+Shopping+Center/@-34.588335,-58.4133858,16z/data=!4m5!1m2!2m1!1sSubte+D+(Est.+Bulnes)!3m1!1s0x0000000000000000:0xc7a941fe0d021ba0" target="_blank">
									ESTACION BULNES
								</a></h3>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>