<div class="services">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="page-header center-block">
						<h2>SERVICIOS Y EQUIPAMIENTO</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="thumbnail">
					<h3>Equipamiento</h3>
					<p>
					-Aire Acondicionado Frio/Calor<br>
					de regulacion individual.<br>
					-Telefonia DDI/DDN.<br>
					-Wi-Fi en todo el edificio.<br>
					-Heladera.<br>
					-Microondas.<br>
					-Anafes electricos.<br>
					-Set de Vajillas.<br>
					-Cafetera.<br>
					-Pava electrica.<br>
					-Tostadora.<br>
					-Secador de cabello.<br>
					</p>
					<h3>Seguridad</h3>
					<p>
					-Caja de seguridad digital
					en todas las unidades.<br>
					-Cerradura con tarjeta magnetica.<br>
					-Seguridad con conserjeria las 24 horas.<br>
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="thumbnail">
					<h3>Servicios</h3>
					<p>
					-Servicio de mucama y<br>
					cambio de ropa semanal.<br>
					-Solarium en la terraza con duchas.<br>
					-Acceso a gimnacios cercanos<br>
					mediante convenios.<br>
					-Servicio de limpieza y cambio de ropa blanca semanal.<br>
					(opcional)<br>
					-Servicio de lavanderia y tintoreria.<br>
					(opcional)<br>
					</p>
					<h3>Otros</h3>
					<p>
					-Deposito para equipaje.<br>
					-Parking con capacidad para 5 autos.<br>
					(opcional)<br>
					-SUM<br>
					-Tarifas diferenciadas en funcion de la estadia.<br>
					</p>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="thumbnail">
					<p>Si hay que necesite y no vea detallado
					en nuestros servicios, por favor consultenos.<br>
					Haremos todo lo posible para satisfacer sus necesidades.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="img/icon_servicios2.jpg" class="center-block" />
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-1">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-10">
				<div class="thumbnail">
					<p>Les recordamos a nuestros huespedes que Color Botanico
					es un edificio <b>Eco-Friendly</b> y <b>Libre de humo</b>. Gracias!</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-1">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
	</div>
	
</div>