<div class="services">
	<div class="container">
		
		<div class="row">
			<div class="col-xs-1 col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-xs-10 col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="page-header center-block">
						<h2>
						<t ng-show='lang.spa'>SERVICIOS Y EQUIPAMIENTO</t>
						<t ng-show='lang.eng'>EQUIPMENT AND SERVICES</t>
						</h2>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="col-sm-6 col-md-6">
				<div class="thumbnail">
					<t ng-show='lang.spa'>
					<h3>Equipamiento</h3>
					<p>
					-Aire Acondicionado Frío/Calor<br>
					de regulacion individual.<br>
					-Telefonia DDI/DDN.<br>
					-Wi-Fi en todo el edificio.<br>
					-Heladera.<br>
					-Microondas.<br>
					-Anafes eléctricos.<br>
					-Set de Vajillas.<br>
					-Cafetera.<br>
					-Pava electrica.<br>
					-Tostadora.<br>
					-Secador de cabello.<br>
					</p>
					<h3>Seguridad</h3>
					<p>
					-Caja de seguridad digital
					en todas las unidades.<br>
					-Cerradura con tarjeta magnética.<br>
					-Seguridad con conserjeria las 24 horas.<br>
					</p></t>
					<t ng-show='lang.eng'>
					<h3>Equipment</h3>
					<p>
					-Air Conditioning<br>
					-DDI/DDN Telephony.<br>
					-Wi-Fi.<br>
					-Refrigerator.<br>
					-Microwaves.<br>
					-Stoves.<br>
					-Dishwares.<br>
					-Coffee machine.<br>
					-Electric kettle.<br>
					-Toaster.<br>
					-Hair dryer.<br>
					</p>
					<h3>Security</h3>
					<p>
					-Digital safety box.<br>
					-Magnetic card lock.<br>
					-24 hour concierge.<br>
					</p>
					</t>
					
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<t ng-show='lang.spa'>
				<div class="thumbnail">
					<h3>Servicios</h3>
					<p>
					-Servicio de mucama y<br>
					cambio de ropa semanal.<br>
					-Solarium en la terraza con duchas.<br>
					-Acceso a gimnasios cercanos<br>
					mediante convenios.<br>
					-Servicio de limpieza y cambio de ropa blanca semanal.<br>
					(opcional)<br>
					-Servicio de lavanderia y tintoreria.<br>
					(opcional)<br>
					</p>
					<h3>Otros</h3>
					<p>
					-Deposito para equipaje.<br>
					-Parking con capacidad para 5 autos.<br>
					(opcional)<br>
					-SUM<br>
					-Tarifas diferenciadas en función de la estadía.<br>
					</p>
				</div>
				</t>
				<t ng-show='lang.eng'>
				<div class="thumbnail">
					<h3>Services</h3>
					<p>
					-Maid service, weekly linen change.<br>
					.<br>
					-Terrace with showers and solarium.<br>
					-Access to nearby nearby gymnasiums.<br>
					-Loundry services.<br>
					(optional)<br>
					</p>
					<h3>Others</h3>
					<p>
					-Luggage deposit.<br>
					-Car park up to five cars.<br>
					(optional)<br>
					-SUM<br>
					-Different rates depending on the stay.<br>
					</p>
				</div>
				</t>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="thumbnail">
					<t ng-show='lang.spa'>
					<p>Si hay algo que necesite y no vea detallado
					en nuestros servicios, por favor consúltenos.<br>
					Haremos todo lo posible para satisfacer sus necesidades.</p>
					</t>
					<t ng-show='lang.spa'>
					<p>Please, if there is any information you can't find, feel free to contact us.<br>
					We will do our best to satisfy your needs.</p>
					</t>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="img/icon_servicios2.jpg" class="center-block" />
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-1">
				<div class="thumbnail">
					
				</div>
			</div>
			<div class="col-sm-6 col-md-10">
				<div class="thumbnail">
					<t ng-show='lang.spa'>
					<p>Les recordamos a nuestros huespedes que Color Botanico
					es un edificio <b>Eco-Friendly</b> y <b>Libre de humo</b>. Gracias!</p>
					</t>
					<t ng-show='lang.eng'>
					<p>We remind you that Color Botanico
					is an <b>Eco-Friendly</b> and <b>smoking free</b> building. Thank you!</p>
					</t>
				</div>
			</div>
			<div class="col-sm-6 col-md-1">
				<div class="thumbnail">
					
				</div>
			</div>
		</div>
	</div>
	
</div>