<!--
<div class="container">
			<div class="row">
		-->
		<div class=''>
			<div class="thumbnail center-block">
				<div class="form-group center-block">
					<label for="dtpFrom">
						<t ng-show='lang.spa'>Fecha de llegada</t>
						<t ng-show='lang.eng'>Arrival date</t>
						
					</label>

					<input id="dtpFrom" type="text" type="text" class="form-control">
					<!--
					<div class='input-group date' id='dtpFrom'>
						<input ng-model="form.dtpFrom" type='text' class="form-control" />
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					-->
				</div>
			</div>
		</div>
		<!--
	</div>
</div>
-->